<a href="https://colab.research.google.com/github/Usmanimaaz12/Data_Analytics_Class_and_Lab/blob/LAB_Work/DA_lab_2_EDA_on_Heart_Disease_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing all required libraries

import pandas as pd
import numpy as np
from scipy import stats as st

In [2]:
#reading the heart disease dataset
df=pd.read_csv('heart.csv')

In [3]:
#displaying top 5 data
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [4]:
#displaying the informtion of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [5]:
#displaying bottom 5 data
df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [6]:
#display the shape of dataset
df.shape

(1025, 14)

In [7]:
#to display the value counts of age column
df['age'].value_counts()

58    68
57    57
54    53
59    46
52    43
51    39
56    39
62    37
60    37
44    36
64    34
41    32
63    32
67    31
61    31
55    30
65    27
43    26
42    26
53    26
66    25
45    25
48    23
46    23
50    21
47    18
49    17
35    15
39    14
70    14
68    12
38    12
71    11
40    11
69     9
37     6
34     6
29     4
76     3
77     3
74     3
Name: age, dtype: int64

In [8]:
#to display the value counts of sex column
df['sex'].value_counts()

1    713
0    312
Name: sex, dtype: int64

In [9]:
#to display the value counts of chol column
df['chol'].value_counts()

204    21
234    21
197    19
212    18
254    17
       ..
164     3
394     3
215     3
160     3
141     3
Name: chol, Length: 152, dtype: int64

In [10]:
#to display the statistics of each numerical column
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [11]:
#finding mean of age column
np.mean(df['age'])

54.43414634146342

In [12]:
#finding median of age column
np.median(df['age'])

56.0

In [13]:
#finding mode of age column
st.mode(df['age'])

ModeResult(mode=array([58]), count=array([68]))

In [14]:
#finding mean of sex column
np.mean(df['sex'])

0.6956097560975609

In [15]:
#finding median of sex column
np.median(df['sex'])

1.0

In [16]:
#finding mode of sex column
st.mode(df['sex'])

ModeResult(mode=array([1]), count=array([713]))

In [17]:
#finding mean of cp column
np.mean(df['cp'])

0.9424390243902439

In [18]:
#finding median of cp column
np.median(df['cp'])

1.0

In [20]:
#finding mode of cp column
st.mode(df['cp'])

ModeResult(mode=array([0]), count=array([497]))

In [21]:
#finding mean of trestbps column
np.mean(df['trestbps'])

131.61170731707318

In [22]:
#finding median of trestbps column
np.median(df['trestbps'])

130.0

In [24]:
#finding mode of trestbps column
st.mode(df['trestbps'])

ModeResult(mode=array([120]), count=array([128]))

In [25]:
#finding mean of chol column
np.mean(df['chol'])

246.0

In [26]:
#finding median of chol column
np.median(df['chol'])

240.0

In [27]:
#finding mode of chol column
st.mode(df['chol'])

ModeResult(mode=array([204]), count=array([21]))

In [28]:
#finding mean of fbs column
np.mean(df['fbs'])

0.14926829268292682

In [29]:
#finding median of fbs column
np.median(df['fbs'])

0.0

In [30]:
#finding mode of fbs column
st.mode(df['fbs'])

ModeResult(mode=array([0]), count=array([872]))

In [31]:
#finding mean of restecg column
np.mean(df['restecg'])

0.5297560975609756

In [32]:
#finding median of restecg column
np.median(df['restecg'])

1.0

In [33]:
#finding mode of restecg column
st.mode(df['restecg'])

ModeResult(mode=array([1]), count=array([513]))

In [34]:
#finding mean of thalach column
np.mean(df['thalach'])

149.11414634146342

In [35]:
#finding median of thalach column
np.median(df['thalach'])

152.0

In [36]:
#finding mode of thalach column
st.mode(df['thalach'])

ModeResult(mode=array([162]), count=array([35]))

In [37]:
#finding mean of exang column
np.mean(df['exang'])

0.33658536585365856

In [38]:
#finding mean of exang column
np.mean(df['exang'])

0.33658536585365856

In [40]:
#finding median of exang column
np.median(df['exang'])

0.0

In [41]:
#finding mode of exang column
st.mode(df['exang'])

ModeResult(mode=array([0]), count=array([680]))

In [42]:
#finding mean of oldpeak column
np.mean(df['oldpeak'])

1.0715121951219515

In [43]:
#finding median of oldpeak column
np.median(df['oldpeak'])

0.8

In [44]:
#finding mode of oldpeak column
st.mode(df['oldpeak'])

ModeResult(mode=array([0.]), count=array([329]))

In [45]:
#finding mean of slope column
np.mean(df['slope'])

1.3853658536585365

In [46]:
#finding median of slope column
np.median(df['slope'])

1.0

In [47]:
#finding mode of slope column
st.mode(df['slope'])

ModeResult(mode=array([1]), count=array([482]))

In [48]:
#finding mean of ca column
np.mean(df['ca'])

0.7541463414634146

In [49]:
#finding median of ca column
np.median(df['ca'])

0.0

In [50]:
#finding mode of ca column
st.mode(df['ca'])

ModeResult(mode=array([0]), count=array([578]))

In [51]:
#finding mean of thal column
np.mean(df['thal'])

2.32390243902439

In [52]:
#finding median of thal column
np.median(df['thal'])

2.0

In [53]:
#finding mode of thal column
st.mode(df['thal'])

ModeResult(mode=array([2]), count=array([544]))

In [54]:
#finding mean of target column
np.mean(df['target'])

0.5131707317073171

In [55]:
#finding median of target column
np.median(df['target'])

1.0

In [56]:
#checking for null values
df.isna()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1021,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1022,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1023,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1024,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [57]:
#no missing values

In [58]:
# LAB 2 by MAAZ USMANI